DATABASE_URL=postgres://postgres:SENHA@luciano_db:5432/donna
AUTH_SECRET=troque-por-uma-chave-longa

APP_NAME=Painel Donna
APP_BRAND=Donna
AGENT_NAME=Pati

CONTACTS_TABLE=contatos_donna
CONTACT_PHONE_COLUMN=telefone_cliente
CONTACT_NAME_COLUMN=nome_cliente
ACTIONS_TABLE=lead_acoes_donna
ACTION_PHONE_COLUMN=telefone_cliente

ATTENDANCES_TABLE=atendimentos_agente
MESSAGES_TABLE=mensagens_agente
HISTORY_TABLE=donna_historico

EVOLUTION_URL=https://luciano-evolution.kxryyk.easypanel.host
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE=donna-teste
